<div>
    <h1>Ahora si pinche perro vamos aprender japones:v</h1>
    <p>bla bla bla</p>
    <div class="button-container">
        <!-- (click)="goTo('/hiragana')" -->
        <button class="btn btn-primary" routerLink="/hiragana" routerLinkActive="active" >Hiragana</button>
        <button class="btn btn-primary" routerLink="/katakana" routerLinkActive="active">Katakana</button>
        <button class="btn btn-primary" routerLink="/kanji" routerLinkActive="active" >Kanji</button>
        <button class="btn btn-primary" routerLink="/counters" routerLinkActive="active">Contadores</button>
        <button class="btn btn-primary" routerLink="/hiwordsragana" routerLinkActive="active">Palabras</button>
    </div>
</div>