<div class="timer">{{timeLabel}} {{ formattedTime }}</div>
<br><br><br>

<div *ngIf="started">
    <div class="row">
      <div class="col-sm-2" *ngFor="let katakana of shuffledArray; let i = index;">
        <div class="form-group">
          <label>{{ katakana.katakana }}</label>
          <input
            type="text"
            class="form-control"
            id="{{katakana.id}}"
            [(ngModel)]="katakana.romaji"
            [readonly]="katakana.romaji === katakana.correctRomaji"
            (ngModelChange)="isCorrect($event, katakana)"
            [autocomplete]="'off'"
          />
        </div>
      </div>
    </div>
  </div>
  
  <button (click)="startGame()">Start</button>
  <button (click)="stopGame()">Stop</button>
